img
{
    width: 1750px;
    height: 800px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/*img:active
{
  opacity: 0.5;
  filter: alpha(opacity=50);
}*/

button
{
  z-index: 999;
}
