:root
{
  --filterNumber: 100;
}

img
{
    width: 1750px;
    height: 800px;
    opacity: calc(var(--filterNumber) / 100);
    filter: alpha(opacity= var(--filterNumber));
}

button
{
  z-index: 999;
}
